.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.movie-search-header{
  margin: 15px;
}

.movie-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 
  width: 100%;
  gap: 32px;
}

.movie {
  text-align: center;
  /* for the hover */
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  cursor: pointer;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 15px;
}

.movie:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-out 0s;
}

.movie-details{
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(100%); /*Oculto por defecto*/
  transition: transform 0.3s ease-in-out;
  z-index: 11;
}

.movie:hover .movie-details {
  transform: translateY(-35%); /* Baja cuando el usuario hace hover */
}

.movie button {
  background-color: var(--card-hover-background);
  border: 1px solid var(--border);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 15px;
  transition: background-color 0.15s ease;
}

.movie button:hover {
  background-color: darken(var(--card-hover-background), 10%);
}

.product-star-icon {
  width: 15px;
  height: 15px;
  fill: #f6ad55;
}